api/exposed.pb.go
server/exposed/main
server/authcode/main

config/ec256-key
config/ec256-key.pub

config/production/ec256-key
config/production/ec256-key.pub
config/production/etcd

config/test/ec256-key
config/test/ec256-key.pub
config/test/etcd/ca.*
config/test/etcd/server.*
