services/public/exposed/exposed
services/public/exposed/exposed.pb.go
services/public/demo-go/demo-go
services/public/exposed/ec256-key
services/public/exposed/ec256-key.pub

src/api/exposed.pb.go
src/config/ec256-key
src/server/exposed/main
src/server/authcode/main
